.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.import-modal {
  background: var(--color-background);
  border-radius: 8px;
  border-color: var(--color-primary);
  padding: 0 24px 24px 24px;
  min-width: 400px;
  min-height: 400px;
  width: 70%;
  height: 70%;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.import-button {
  align-self: flex-start;
  margin: 10px;
}

.confirm-button {
  align-self: flex-end;
}

.import-text {
  flex: 1;
  margin: 0 0 15px 0;
}
